@page
@using System
@using System.Reflection
@model pWPortalLogista.Pages.CheckFilesModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_Layout";
}

<input asp-for="OutputMessage" id="OutputMessage" hidden="hidden" /> 
<input asp-for="ValidaOutPut" id="ValidaOutPut" hidden="hidden" /> 

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h4><i class="fas fa-cloud-download-alt"></i>  &nbspArquivos</h4>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">

          <div class="row">

            <div class="col-12 ">
              <div class="card card-secondary card-outline">
                <div class="card-header">
                    <h3 class="card-title text-secondary"><strong>Boletos:</strong></h3>
                </div>
                @if(Model.lstFiles.Count() > 0){

                    <div class="card card-tabs m-0">
                      <div class="card-header p-0 pt-1">
                        <ul class="nav nav-tabs" id="custom-tabs-one-tab" role="tablist">
                          <li class="nav-item">
                            <a class="nav-link active" id="custom-tabs-one-all-tab" data-toggle="pill" href="#custom-tabs-one-all" role="tab" aria-controls="custom-tabs-one-all" aria-selected="true">Todos os boletos</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" id="custom-tabs-one-almostVenc-tab" data-toggle="pill" href="#custom-tabs-one-almostVenc" role="tab" aria-controls="custom-tabs-one-almostVenc" aria-selected="false">Boletos a vencer</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" id="custom-tabs-one-venc-tab" data-toggle="pill" href="#custom-tabs-one-venc" role="tab" aria-controls="custom-tabs-one-venc" aria-selected="false">Boletos vencidos</a>
                          </li>
                        </ul>
                      </div>
                      <div class="card-body table-responsive p-0">
                        <div class="tab-content"  id="custom-tabs-one-tabContent">
                          <div class="tab-pane fade show active" id="custom-tabs-one-all" role="tabpanel" aria-labelledby="custom-tabs-one-all-tab">
                            <table class="table table-striped table-hover table-bordered table-sm dataTable" id="resultTable">
                                <thead>
                                    <tr class="bg-gray">
                                        <th class="text-center align-middle">Lido</th>
                                        <th class="text-center align-middle">Nome</th>
                                        <th class="text-center align-middle">Faturamento</th>
                                        <th class="text-center align-middle">Data de Leitura</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{var userId = User.Claims.FirstOrDefault(x => x.Type == "Id").Value;}
                                     
                                      @foreach(var item in Model.lstFiles)
                                      {
                                          <tr>
                                              <td class="text-center align-middle text-dark p-0">
                                                @if(item.DocuserOpen.Count == 0){
                                                  <i class=""></i>
                                                }else{
                                                  if(item.DocuserOpen.FirstOrDefault(x => x.Iduser == Convert.ToInt32(userId)) != null){
                                                    <i class="fas fa-check text-success"></i>  
                                                  }else{
                                                    <i class=""></i>
                                                  }                                        
                                                }
                                              </td>
                                              <td class="text-left align-middle text-dark p-0"><a href="~/import/@item.Nodoc" data-id="@item.Iddoc" class="itemDoc" target="_blank">@item.Nodoc</a></td>
                                              <td class="text-center align-middle text-dark p-0">@DateTime.Parse(item.Dtfat.ToString()).ToString("dd/MM/yyyy")</td>
                                              <td class="text-center align-middle text-dark p-0">@(item.DocuserOpen.Count == 0 ? "" : (item.DocuserOpen.FirstOrDefault(x => x.Iduser == Convert.ToInt32(userId)) != null ? item.DocuserOpen.FirstOrDefault().Dtopen.ToString() : ""))</td>
                                          </tr>
                                      }
                                </tbody>
                            </table>
                            
                          </div>
                          <div class="tab-pane fade" id="custom-tabs-one-almostVenc" role="tabpanel" aria-labelledby="custom-tabs-one-almostVenc-tab">
                            <table class="table table-striped table-hover table-bordered table-sm dataTable" id="resultTable">
                              <thead>
                                  <tr class="bg-gray">
                                      <th class="text-center align-middle">Lido</th>
                                      <th class="text-center align-middle">Nome</th>
                                      <th class="text-center align-middle">Faturamento</th>
                                      <th class="text-center align-middle">Data de Leitura</th>
                                  </tr>
                              </thead>
                              <tbody>
                                  @foreach(var itemTE in Model.lstFilesToExpire)
                                  {
                                      <tr>
                                          <td class="text-center align-middle text-dark p-0">
                                            @if(itemTE.DocuserOpen.Count == 0){
                                              <i class=""></i>
                                            }else{
                                              if(itemTE.DocuserOpen.FirstOrDefault(x => x.Iduser == Convert.ToInt32(userId)) != null){
                                                <i class="fas fa-check text-success"></i>  
                                              }else{
                                                <i class=""></i>
                                              }                                        
                                            }
                                          </td>
                                          <td class="text-left align-middle text-dark p-0"><a href="~/import/@itemTE.Nodoc" data-id="@itemTE.Iddoc" class="itemDoc" target="_blank">@itemTE.Nodoc</a></td>
                                          <td class="text-center align-middle text-dark p-0">@DateTime.Parse(itemTE.Dtfat.ToString()).ToString("dd/MM/yyyy")</td>
                                          <td class="text-center align-middle text-dark p-0">@(itemTE.DocuserOpen.Count == 0 ? "" : (itemTE.DocuserOpen.FirstOrDefault(x => x.Iduser == Convert.ToInt32(userId)) != null ? itemTE.DocuserOpen.FirstOrDefault().Dtopen.ToString() : ""))</td>
                                      </tr>
                                  }
                              </tbody>
                            </table>
                          </div>
                          <div class="tab-pane fade" id="custom-tabs-one-venc" role="tabpanel" aria-labelledby="custom-tabs-one-venc-tab">
                            <table class="table table-striped table-hover table-bordered table-sm dataTable" id="resultTable">
                              <thead>
                                  <tr class="bg-gray">
                                      <th class="text-center align-middle">Lido</th>
                                      <th class="text-center align-middle">Nome</th>
                                      <th class="text-center align-middle">Faturamento</th>
                                      <th class="text-center align-middle">Data de Leitura</th>
                                  </tr>
                              </thead>
                              <tbody>
                                  @foreach(var itemE in Model.lstFilesExpired)
                                  {
                                      <tr>
                                          <td class="text-center align-middle text-dark p-0">
                                            @if(itemE.DocuserOpen.Count == 0){
                                              <i class=""></i>
                                            }else{
                                              if(itemE.DocuserOpen.FirstOrDefault(x => x.Iduser == Convert.ToInt32(userId)) != null){
                                                <i class="fas fa-check text-success"></i>  
                                              }else{
                                                <i class=""></i>
                                              }                                        
                                            }
                                          </td>
                                          <td class="text-left align-middle text-dark p-0"><a href="~/import/@itemE.Nodoc" data-id="@itemE.Iddoc" class="itemDoc" target="_blank">@itemE.Nodoc</a></td>
                                          <td class="text-center align-middle text-dark p-0">@DateTime.Parse(itemE.Dtfat.ToString()).ToString("dd/MM/yyyy")</td>
                                          <td class="text-center align-middle text-dark p-0">@(itemE.DocuserOpen.Count == 0 ? "" : (itemE.DocuserOpen.FirstOrDefault(x => x.Iduser == Convert.ToInt32(userId)) != null ? itemE.DocuserOpen.FirstOrDefault().Dtopen.ToString() : ""))</td>
                                      </tr>
                                  }
                              </tbody>
                            </table>
                          </div>
                        </div>                      
                      </div>
                    </div>
                }else{
                  <div class="card-body">
                    <ul class="list-unstyled">
                      @if(Model.userAllow == true){
                        <li>
                          Sem arquivos para mostrar.    
                        </li>
                      }else{
                        <li>
                          Você não tem permissão para ver esses boletos.
                        </li>
                      }
                    </ul>
                  </div>
                }
              </div>
              <!-- /.card -->
            </div>
            <!-- /.col -->

            

          </div>
          
        </div>
    </section>
    <!-- /.content -->

@section Scripts {
<script>
    $(".itemDoc").on("click", function(){
      $.ajax({
          type: "GET",
          url: "/API/OpenDoc/" + $(this).data("id"),
          success: function (response) {
              console.log(response)
              if (response.length > 0) {
                  location.reload()
              }
          },
          failure: function (response) {
              alert(response.d);
          }
      });
    });

    $(function () {
        $("#menu_billet").addClass("active")

        var valueOutput = $("#OutputMessage").val();
        var validaOutPut = $("#ValidaOutPut").val();
        console.log(validaOutPut)
        console.log(valueOutput)
        if(valueOutput != ""){
            if(validaOutPut == "SUCCESS"){
                iconOutput = "success"
            }else{
                iconOutput = "error"
            }   
            console.log(iconOutput)

            var Toast = Swal.mixin({
                customClass : {
                  title: 'swal2-title-content'
                },
                toast: true,
                position: 'left-bottom',
                showConfirmButton: false,
                timer: 3000
            });
            Toast.fire({
                icon: iconOutput,
                title: valueOutput
            })

            $(".swal2-title-content").css("color","#595959");
        }

        var menu = document.getElementById("menu_Down");
        menu.className += " active";
    });
</script>
}
